{# src/ChrisScientistPlatformBundle/Ressources/Advert/index.html.twig #}

{% extends "ChrisScientistPlatformBundle::layout_bundle.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block chris_scientist_platform_body %}
    <ul>
        {% if is_granted('ROLE_AUTEUR') %}
            <li><a href="{{ url('chris_scientist_platform_add') }}" >Créer une annonce</a></li>
        {% else %}
            <li>Pas d'action disponible.</li>
        {% endif %}
    </ul>
    
    <h2>Debug Area</h2>
    <p>
    {% if checkIfSpam('012345678') %}
        C'est du spam !
    {% else %}
        Ce n'est pas du spam :)
    {% endif %}
    </p>

    <h2>Liste des annonces</h2>
    
    {% for advert in listAdverts %}
        <div>
            <h3>
                <a href="{{ url('chris_scientist_platform_view', {'id': advert.id}) }}" >
                    {{ advert.title }}
                </a>
                <div>
                    Ajoutée par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}
                    {% if not ( advert.updatedAt is null ) %}, modifiée le {{ advert.updatedAt|date('d/m/Y') }}{% endif %}
                </div>
                <div>
                    {% for category in advert.categories %}
                        {% if not loop.first %}
                            ,
                        {% endif %}
                        {{ category.name }}
                    {% else %}
                        Pas de catégorie pour cette annonce.
                    {% endfor %}
                </div>
            </h3>
            <p>
                {% if not ( advert.image is null ) %}
                    <img src="{{ advert.image.url }}" 
                         alt="{{ advert.image.alt }}" />
                {% endif %}
                {{ advert.content }}
            </p>
        </div>
    {% else %}
        <p>Aucune annonce n'est enregistrée.</p>
    {% endfor %}
    
    {% if nbPages > 0 %}
        {% for itPage in range(1, nbPages) %}
            <a href="{{ url('chris_scientist_platform_home', {'page': itPage}) }}" >{{ itPage }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}