{# src/ChrisScientistPlatformBundle/Ressources/Advert/view.html.twig #}

{% extends "ChrisScientistPlatformBundle::layout_bundle.html.twig" %}

{% block title %}
    Consulter annonce - {{ parent() }}
{% endblock %}

{% block chris_scientist_platform_body %}
    <h2>Annonce #{{ advert.id }}</h2>
        
    <h3>Afficher des messages flash (contenus en session)</h3>

    <ul>
        <li><a href="{{ url('chris_scientist_platform_edit', {'id':advert.id}) }}" >Modifier</a></li>
        <li><a href="{{ url('chris_scientist_platform_delete', {'id':advert.id}) }}" >Supprimer</a></li>
    </ul>

    <p>
        {% for message in app.session.flashbag.get('info') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </p>
{% endblock %}

{% block footer %}
    <a href="{{ url('chris_scientist_platform_home') }}" >Retour à l'accueil</a> | {{ parent() }}
{% endblock %}